html, body {
    margin: 0;
    padding: 0;
}

.container{
    width: 550px;
    height: 550px;     
    background: #FFFDFE;
}
#color-bar{
    display:flex;
    margin-left: 73px;
    margin-top: 23px;
    
}
#color-picker{
    width: 61px;
    height: 42px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#mode-select{
    margin-right:10px;
}
#get-scheme{
    
    width: 123px;
    height: 42px;    
    background: #FFFFFF;
    
    border: 1px solid #D1D5DB;

    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}